/* Container */
.CTABooking_container {
  height: 20rem;
  padding: 0rem 2.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* margin-bottom: 5rem; */
}

/* CTA Title */
.CTABooking_title h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
}

.CTABooking_title h3 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: black;
}

.CTABooking_title span {
  font-size: 1.5rem;
  text-decoration: none;
  color: #1fcc53;
}

.CTABooking_title span:hover {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  text-decoration: underline;
  color: #86da9f;
}
