/* Container */
.CTANewUsers_container {
  height: 35rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 0px solid #06348a;
  -webkit-box-shadow: 5px 4px 12px -3px #003459;
  box-shadow: 5px 4px 12px -3px #003459;
  margin: 0 auto;
  background-color: white;
}

/* CTA Title */
.CTANewUsers_title {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

.CTANewUsers_title h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  color: black;
}

.CTANewUsers_title span {
  font-size: 1.5rem;
  text-decoration: none;
  color: #007ea7;
}

.CTANewUsers_title h1:hover {
  text-decoration: underline;
}

/* CTA Subtitle */
.CTANewUsers_subTitle {
  font-size: 0.8rem;
  color: black;
  margin-bottom: 3rem;
  font-family: "Source Sans Pro", sans-serif;
}

.CTANewUsers_subTitle span {
  font-size: 1.2rem;
  color: #007ea7;
}

.CTANewUsers_subTitle span:hover {
  font-size: 1.2rem;
  color: #007ea7;
  text-decoration: underline;
}

.CTANewUsers_subTitle p {
  font-size: 1rem;
  color: black;
}

/* Image */
.CTANewUsers_image img {
  width: 18rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: 3px solid #0f3170;
  -webkit-box-shadow: 5px 4px 12px -3px black;
  box-shadow: 5px 4px 12px -3px black;
}

/* Button link */
.CTANewUsers_link {
  border: none;
  /* border: 2px solid #305fb4; */
  border-radius: 10px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
  background-color: #004272;

  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem !important;
}

.CTANewUsers_link:hover {
  border: 2px solid white;
  font-size: 1.05rem;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: #003459;
  transition: all 0.2s ease-out;
}

/* Divider */

.divider {
  display: none;
}

@media screen and (min-width: 960px) {
  .divider {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    height: 2px;
    background-color: white;
    border: none;
  }
}

@media screen and (min-width: 960px) {
  .Home_Section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .CTANewUsers_container {
    height: 35rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 0px solid #06348a;
    -webkit-box-shadow: 5px 4px 12px -3px #003459;
    box-shadow: 5px 4px 12px -3px #003459;
    margin: 2rem auto;
    background-color: white;
  }
}
