/* Colors: */
/* blue:  #06348a // #007ea7
OSCURO: #003459 
green: #48c26c */

/* Fonts */
/* Titles: font-family: 'Fira Sans', sans-serif; */
/* Text: font-family: 'Source Sans Pro', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #007ea7;
  /* background: linear-gradient(180deg, #06348a 20%, #48c26c 100%); */
  font-size: 16px;
}

li {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  /* background-color: #48c26c; */
  width: 100%;
  max-height: 100%;
}
